[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"

[packages]
requests = "*"
dropbox = "*"
click = "*"
pytesseract = "*"
pillow = "*"
opencv-python = "*"
python-telegram-bot = "*"
sqlalchemy = "*"
psycopg2 = "*"
scipy = "*"
numpy = "*"
cv2 = "*"
matplotlib = "*"

[requires]
python_version = "3.7.2"
