python-telegram-bot==11.1.0
flask==1.0.2
flask-login==0.4.1
requests==2.21.0
sqlalchemy==1.2.18
psycopg2==2.7.7
numpy==1.16.2
matplotlib==3.0.3
scipy==1.2.1
opencv-python==4.0.0.21
pytest==4.2.1
pytest-cov==2.6.1
dropbox==9.3.0
click==7.0
click-repl==0.1.6
faker==1.0.2
keras==2.2.4
flask-wtf==0.14.2
tensorflow==1.13.1
keras==2.2.4
scikit-image==0.14.2
python-google-places==1.4.1
plotly==3.7.1
