python-telegram-bot
flask
flask-login
requests
sqlalchemy
psycopg2
numpy
matplotlib
scipy
opencv-python
pytest
dropbox
click
click-repl
geopy
googlemaps
faker
keras
flask-wtf
tensorflow
keras
scikit-image
