{% extends 'base.html' %}
{% block content %}
<div class="container" style="width:300px; margin-top:5rem;">
  <form action="" method="post">
    {{ form.hidden_tag() }}
    {% for field in form %}
    {% if field.type != "SubmitField" %}
      <div class="form-group">
        <label>{{ field.label }}</label>
        {{ field(size=32, class_="form-control", placeholder="" + field.name|string)}}
        {% for error in field.errors %}
        <span style="color:red;">[{{ error }}]</span>
        {% endfor %}
      </div>
    {% else %}
      <div class="form-group">
        {{ field(class_="btn btn-primary")}}
      </div>
    {% endif %}
    {% endfor %}
  </form>
</div>
{% endblock content %}