{% extends 'base.html' %}
{% block content %}
<div class="container" style="width:300px; margin-top:5rem;">
  <form method="post">
    <div class="form-group">
      <label for="username">Username</label>
      <input name="username" class="form-control" id="username" required>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input name="password" type="password" class="form-control" id="password" required>
    </div>
    <div class="form-group" >
      <input type="submit" value="Register" class="btn btn-primary" style="margin: auto; display: block;">
    </div>
  </form>
</div>
{% endblock content %}