<!DOCTYPE html>
<html lang="en">
<head>
  {% block head %}
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock title %}Stella</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
  <style>.button {display:block; margin:auto; margin-top:2rem; max-width:250px}</style>
  {% endblock %}
</head>
<body>


{% block navbar %}
<nav class="navbar navbar-light bg-light">

  <a class="navbar-brand" href="#">Stella</a>

</nav>
{% endblock navbar %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<div id="content">{% block content %}{% endblock content %}</div>
<!--<div>Icons made by <a href="https://www.flaticon.com/<?=_('authors').'/'?>smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" 		    title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" 		    title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>-->
<script src="{{ url_for('static', filename='jquery.js') }}"></script>
<script src="{{ url_for('static', filename='popper.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
</body>
</html>