{% extends 'base.html' %}

{% block content %}
<div class="container" style="max-width:400px;">
    <p>Hello! This is Stella, application that provide you latest prices on fuel from Ukrainian gas stations. Also it allows you to upload your photos of gas station stellas to update data in our database.</p>
</div>
  <div class="container" style="max-width:300px;">
    <a role="button" class="btn btn-primary button" href="auth/sign_in">Login</a>
    <a role="button" class="btn btn-primary button" href="auth/sign_up">Register</a>
  </div>
{% endblock content %}
